@model SouthlandMetals.Web.Areas.Administration.Models.CustomerViewModel

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-lg" style="min-width: 60%;">
        <div class="modal-content">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Customer</h4>
            </div>
            <div class="alert alert-success alert-dismissable alert-modal successAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-danger alert-dismissable alert-modal errorAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <br />
            <form id="addCustomerForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomerName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.CustomerName, new { @id = "customerName", @class = "form-control", @autofocus = "autofocus", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomerNumber, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.CustomerNumber, new { @id = "customerNumber", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShortName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.ShortName, new { @id = "shortName", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone1, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Phone1, new { @id = "phone1", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone3, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Phone3, new { @id = "phone3", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone2, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Phone2, new { @id = "phone2", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FaxNumber, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.FaxNumber, new { @id = "faxNumber", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SalespersonId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SalespersonId, Model.SelectableSalespersons, new { @id = "salespersonId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PaymentTermId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.PaymentTermId, Model.SelectablePaymentTerms, new { @id = "paymentTermId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShipmentTermId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.ShipmentTermId, Model.SelectableShipmentTerms, new { @id = "shipmentTermId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.ContactName, new { @id = "contactName", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactPhone, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.ContactPhone, new { @id = "contactPhone", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressCode, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.AddressCode, new { @id = "addressCode", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address1, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Address1, new { @id = "address1", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address2, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Address2, new { @id = "address2", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address3, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Address3, new { @id = "address3", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.City, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.City, new { @id = "city", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.StateId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.StateId, Model.SelectableStates, new { @id = "stateId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CountryId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.CountryId, Model.SelectableCountries, new { @id = "countryId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PostalCode, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.PostalCode, new { @id = "postalCode", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SiteId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SiteId, Model.SelectableSites, new { @id = "siteId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.IsActive, new { @id = "isActive", @Value = true })
                </div>
                <br />
                <div class="modal-footer">
                    <button id="saveCustomerBtn" class="btn btn-sm modal-save-update-btn" type="submit" title="Save Customer">Save</button>
                    <button id="cancelAddCustomerBtn" class="btn btn-sm btn-default" type="button" data-dismiss="modal" title="Cancel Adding Customer">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



