@model SouthlandMetals.Web.Areas.Administration.Models.CustomerViewModel

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-lg" style="min-width: 65%;">
        <div class="modal-content">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Customer</h4>
            </div>
            <div class="alert alert-success alert-dismissable alert-modal successAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-danger alert-dismissable alert-modal errorAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <br />
            <form id="editCustomerForm">
                @Html.TextBoxFor(m => m.CustomerId, new { @id = "editCustomerId", @class = "hidden" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomerName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.CustomerName, new { @id = "editCustomerName", @class = "form-control", @autofocus = "autofocus", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomerNumber, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.CustomerNumber, new { @id = "editCustomerNumber", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShortName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.ShortName, new { @id = "editShortName", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone1, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Phone1, new { @id = "editPhone1", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone3, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Phone3, new { @id = "editPhone3", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone2, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Phone2, new { @id = "editPhone2", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FaxNumber, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.FaxNumber, new { @id = "editFaxNumber", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SalespersonId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SalespersonId, Model.SelectableSalespersons, new { @id = "editSalespersonId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PaymentTermId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.PaymentTermId, Model.SelectablePaymentTerms, new { @id = "editPaymentTermId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShipmentTermId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.ShipmentTermId, Model.SelectableShipmentTerms, new { @id = "editShipmentTermId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.ContactName, new { @id = "editContactName", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactPhone, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.ContactPhone, new { @id = "editContactPhone", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressCode, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.AddressCode, new { @id = "editAddressCode", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address1, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Address1, new { @id = "editAddress1", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address2, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Address2, new { @id = "editAddress2", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address3, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Address3, new { @id = "editAddress3", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.City, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.City, new { @id = "editCity", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.StateId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.StateId, Model.SelectableStates, new { @id = "editStateId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CountryId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.CountryId, Model.SelectableCountries, new { @id = "editCountryId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PostalCode, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.PostalCode, new { @id = "editPostalCode", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SiteId, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SiteId, Model.SelectableSites, new { @id = "editSiteId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 centered">
                            <div class="checkbox checkbox-success">
                                <input type="checkbox" id="editIsActive">
                                <label for="editIsActive" class="control-label">
                                    <strong>Active</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id="updateCustomerBtn" class="btn btn-sm modal-save-update-btn" type="submit" title="Update Customer">Update</button>
                    <button id="cancelEditCustomerBtn" class="btn btn-sm btn-default" type="button" data-dismiss="modal" title="Cancel Editing Customer">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>