@model SouthlandMetals.Web.Areas.Operations.Models.DebitMemoViewModel

<div class="row" style="padding: 0;">
    <nav id="partsNav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right" style="padding-top: 6px;">
                    <li><button id="updateMemoBtn" type="submit" class="btn btn-sm btn-submit pull-right" title="Update RFQ" value="Update">Update</button></li>
                    <li><button id="cancelUpdateMemoBtn" class="btn btn-sm btn-cancel pull-right" title="Cancel Create" value="Cancel Create">Cancel</button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            @Html.LabelFor(m => m.Status, new { @class = "control-label" })
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="open" name="Status" value="Open">
                <label for="open" class="control-label col-md-5">
                    Open
                </label>
            </div>
            <div class="radio radio-danger radio-inline">
                <input type="radio" id="closed" name="Status" value="Closed">
                <label for="closed" class="control-label col-md-5">
                    Closed
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default col-md-12" style="max-width:2000px;margin:auto">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">
            Edit Debit Memo: @Model.DebitMemoNumber
        </h3>
    </div>
    <div class="panel-body">
        <form id="editDebitMemoForm">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DebitMemoDateStr, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.DebitMemoDateStr, new { @id = "editDebitMemoDate", @class = "form-control", @type = "text", @required = "required", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FoundryId, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(x => x.FoundryId, Model.SelectableFoundries, new { @id = "editFoundryId", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FoundryInvoiceId, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(x => x.FoundryInvoiceId, Model.SelectableFoundryInvoices, new { @id = "editFoundryInvoiceId", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RmaNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.RmaNumber, new { @id = "editRmaNumber", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.TrackingNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.TrackingNumber, new { @id = "editTrackingNumber", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerId, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(x => x.CustomerId, Model.SelectableCustomers, new { @id = "editCustomerId", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalespersonId, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(x => x.SalespersonId, Model.SelectableSalespersons, new { @id = "editSalespersonId", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreditMemoNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.CreditMemoNumber, new { @id = "creditMemoNumber", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.DebitMemoNotes)
                                @Html.TextAreaFor(m => m.DebitMemoNotes, new { @id = "editNotes", @class = "form-control", @style = "font-size: 13px;overflow-y: scroll;", cols = "35", rows = "8" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix" style="background-color: white" data-toggle="collapse" href="#partCollapse">
                                <h5>
                                    Items
                                    <i class="glyphicon glyphicon-menu-down pull-right panel-icon"></i>
                                </h5>
                            </div>
                            <div id="partCollapse" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="addItem" class="pull-right">
                                                <span id="addItemBtn" class="glyphicon glyphicon-plus text-noticed" style="font-size: 16px;" title="Add Item"></span>
                                                <span style="font-size: 16px;" title="Add Item"> Add Item</span>
                                            </div>
                                            <table id="debitMemoItems" class="table table-bordered table-hover table-responsive responsive compact nowrap"></table>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p class="pull-right" style="font-size: 18px;"><strong>Total Cost: <span id="debitAmount" class="text-info">@Model.DebitAmount</span></strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading parts" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="background-color: white">
                        <h3 class="panel-title accordion-toggle">
                            Attachments
                            <i class="glyphicon glyphicon-menu-right glyphicon-menu-down pull-right panel-icon"></i>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="attachmentGallery" class="col-md-10">
                                    @if (Model.Attachments != null && Model.Attachments.Count() > 0)
                                    {
                                        foreach (var attachment in Model.Attachments)
                                        {
                                            <div id="@attachment.DebitMemoAttachmentId" class="col-md-4">
                                                <a href="@Url.Action("GetAttachment", "Shipment", new { attachmentId = @attachment.DebitMemoAttachmentId })" target="_blank"><img src="@Url.Content("~/Content/images/southland_png_48.png")" class="img-responsive" alt="pdf" /></a>
                                                <div style="display: inline-block;">
                                                    <span class="pull-left">@attachment.AttachmentName.Substring(0,attachment.AttachmentName.IndexOf('.'))</span>&nbsp;&nbsp;
                                                    <span style="padding-top: 4px;" aria-hidden="true" class="glyphicon glyphicon-trash pull-right" onclick="deleteAttachment('@attachment.DebitMemoAttachmentId');"></span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <form id="debitMemoAttachment" method="post" enctype="multipart/form-data" encoding="multipart/form-data">
                                        <div class="input-group">
                                            <input class="form-control" type="file" name="attachment" id="attachment" />
                                            <span class="input-group-btn">
                                                <button id="fileSubmitBtn" type="button" class="btn btn-sm btn-danger">Add</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addDebitMemoItemDiv">
    @{Html.RenderPartial("_AddDebitMemoItem");}
</div>
<div id="editDebitMemoItemDiv">
    @{Html.RenderPartial("_EditDebitMemoItem");}
</div>

<script>
    var debitMemoId = @Html.Raw(Json.Encode(Model.DebitMemoId));
    var creditMemoId = @Html.Raw(Json.Encode(Model.CreditMemoId));
    var debitMemoNumber = @Html.Raw(Json.Encode(Model.DebitMemoNumber));
    var items = @Html.Raw(Json.Encode(Model.DebitMemoItems));
    var attachments = @Html.Raw(Json.Encode(Model.Attachments));
    var status = @Html.Raw(Json.Encode(Model.Status));
    var foundryId = @Html.Raw(Json.Encode(Model.FoundryId));
    var customerId = @Html.Raw(Json.Encode(Model.CustomerId));
    var totalCost = @Html.Raw(Json.Encode(Model.DebitAmount));
</script>

@section Scripts {
    @Scripts.Render("~/Scripts/southlandMetals-debitMemo-edit.js")
}



