@model SouthlandMetals.Web.Areas.Administration.Models.UserViewModel

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-sm">
        <div class="modal-content">
            <div class="alert alert-success alert-dismissable alert-modal successAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-danger alert-dismissable alert-modal errorAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <br />
            <form id="userResetPasswordForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Resetting Password</h4>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-10 centered">
                            @Html.TextBoxFor(m => m.UserName, new { @id = "resetUserName", @class = "hidden" })
                            @Html.TextBoxFor(m => m.FirstName, new { @id = "resetFirstName", @class = "hidden" })
                            @Html.TextBoxFor(m => m.LastName, new { @id = "resetLastName", @class = "hidden" })
                            @Html.TextBoxFor(m => m.Email, new { @id = "resetEmail", @class = "hidden" })
                            @Html.TextBoxFor(m => m.IsActive, new { @id = "resetIsActive", @class = "hidden" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.Password, new { @id = "passwordInput", @class = "form-control", required = "required", @autofocus = "" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required", id = "confirmPassword" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id="saveNewPasswordBtn" class="btn btn-sm modal-save-update-btn" title="Save New Password">Reset</button>
                    <button id="cancelResetPasswordBtn" class="btn btn-sm btn-default" type="button" data-dismiss="modal" title="Cancel Reset Password">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




