@model SouthlandMetals.Web.Areas.Operations.Models.PackingListViewModel

<div class="row" style="padding: 0;">
    <nav id="partsNav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right" style="padding-top: 10px;">
                    <li><i id="closeIcon" class="glyphicon glyphicon-remove"></i><span id="closePackingListBtn" class="nav-icon" title="Close">Close </span></li>
                    <li><i class="glyphicon glyphicon-envelope"></i><span data-toggle="modal" data-target="#emailModal" class="nav-icon" title="Email">Email </span></li>
                    <li><i id="editIcon" class="glyphicon glyphicon-pencil"></i><span id="editPackingListBtn" class="nav-icon" title="Edit">Edit </span></li>
                    <li><i class="glyphicon glyphicon-print"></i><span id="printPackingListBtn" class="nav-icon" title="Print">Print </span></li>
                    <li><i id="deleteIcon" class="glyphicon glyphicon-trash"></i><span id="deletePackingListBtn" class="nav-icon" title="Delete">Delete </span></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-md-10 centered">
        <div class="panel panel-default" style="margin-bottom:5px;max-width:2000px;margin:auto">
            <div class="panel-heading">
                <div class="clearfix">
                    <h3 class="panel-title text-noticed">
                        Packing List - "Detail"
                    </h3>
                </div>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CustomerName, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.CustomerName, new { @id = "CustomerName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CustomerAddress, new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.CustomerAddress, new { @id = "CustomerAddress", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ShipDateStr, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ShipDateStr, new { @id = "shipDate", @class = "form-control datepicker", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CarrierName, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.CarrierName, new { @id = "carrierName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TrailerNumber, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.TrailerNumber, new { @id = "trailerNumber", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TrackingNumber, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.TrackingNumber, new { @id = "trackingNumber", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Notes)
                                    @Html.TextAreaFor(m => m.Notes, new { @id = "notes", @class = "form-control", @style = "font-size: 13px;overflow-y: scroll;", cols = "35", rows = "8", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix" data-toggle="collapse" href="#partCollapse">
                                    <h4>
                                        Parts
                                        <i class="glyphicon glyphicon-menu-down pull-right panel-icon"></i>
                                    </h4>
                                </div>
                                <div id="partCollapse" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <table id="parts" class="table table-bordered table-hover table-responsive responsive compact nowrap" cellspacing="0" style="margin-top:5px"></table>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <ul class="pull-right list-inline" style="font-size:15px;">
                                                        <li>
                                                            <strong>Total Pieces: <span id="totalPieces" class="text-info"></span></strong>
                                                        </li>
                                                        <li>
                                                            <strong>Total Pallets: <span id="totalPallets" class="text-info"></span></strong>
                                                        </li>
                                                        <li>
                                                            <strong>Total Weight: <span id="totalWeight" class="text-info"></span></strong>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script>
    var packingListId = @Html.Raw(Json.Encode(Model.PackingListId));
    var isClosed = @Html.Raw(Json.Encode(Model.IsClosed));
    var parts = @Html.Raw(Json.Encode(Model.PackingListParts));
</script>

@section Scripts {
    @Scripts.Render("~/Scripts/southlandMetals-warehouse-packingList-detail.js")
}



